/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300,700,800&family=Oswald:wght@200;300;400;500;600;700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Gothic+A1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
    background-color: #3b3b3b;
    /* font: normal 100% "Gothic A1", sans-serif; */
    font: normal 100% Poppins, sans-serif;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    color: rgba(255, 255, 255, 1);
    background-color: #3b3b3b;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

h1 {
    font-size: 1.5rem;
}

#logo {
    font-family: Bitter, sans-serif;
    /* color: rgba(220, 70, 33, 0.9); */
    color: #ffffff;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    /* letter-spacing: 4px; */
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.5rem;
    /* 40px */
}

#resp-menu-icon {
    color: rgba(57, 57, 57, 0.8);
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    /* letter-spacing: 2px; */
    list-style-type: none;
}

#menu a:hover {
    cursor: pointer;
}

.active {
    border-bottom: 1px solid rgba(57, 57, 57, 0.8);
}

#menu-list {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    color: rgba(255, 255, 255, 0.9);
    background-color: #3b3b3b;
    border-bottom: 1px solid rgba(57, 57, 57, 0.2);
    /* letter-spacing: 2px; */
}

#resp-menu:checked~#menu-list {
    display: block;
}

#resp-menu {
    display: none;
}

.resp-menu-label {
    font-size: 2rem;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-top: 73px;
}

#welcome-section {
    width: 100%;
    height: 85dvh;
    /* flex: 1; */
    position: relative;
    color: #ffffff;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#landing-picture {
    margin: 2rem;
    width: 40%;
    height: auto;
}

#landing-picture>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 15px 15px 0px 0px #000000, 15px 15px 1px 15px rgba(0, 0, 0, 0);
    box-shadow: 15px 15px 0px 0px #000000, 15px 15px 1px 15px rgba(0, 0, 0, 0);
}

#slogan {
    display: flex;
    /* width: fit-content; */
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* padding: 150px 50px; */
    /* font-family: Bitter, sans-serif; */
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05em;
    font-size: 200%;
}

#slogan>h1 {
    /* max-width: 8ch; */
    font-size: 250%;
}

#slogan-span {
    font-style: italic;
}

#testimonials {
    display: flex;
    flex-direction: column;
    margin: 7rem 2rem;
    align-items: center;
}

#testimonials-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(231, 111, 81);
    letter-spacing: 2px;
}

#colored-testimonials-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1.8rem;
    height: 2px;
    background-color: rgb(231, 111, 81);
}

#testimonials-slogan {
    margin-bottom: 2rem;
}

#testimonials-slogan>p {
    font-size: small;
}

#testimonials-customers {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.customers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-circle-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    /* Hide overflow to ensure the image fits within the circle */
    border: 7px solid rgba(255, 255, 255, 0);
    background-color: #fff;
    z-index: 98;
}

.customer-circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customer-testimonial {
    display: flex;
    width: 250px;
    background-color: rgb(233, 236, 239);
    margin-top: -50px;
    padding: 70px 15px 10px;
    flex-direction: column;
    gap: 0.5rem;
    color: #3b3b3b;
}

.customer-testimonial:hover {
    -webkit-box-shadow: 0px 0px 10px 7px rgba(125, 125, 125, 0.33);
    -moz-box-shadow: 0px 0px 10px 7px rgba(125, 125, 125, 0.33);
    box-shadow: 0px 0px 10px 7px rgba(125, 125, 125, 0.33);
}

.customer-testimonial-text {
    font-size: 0.9rem;
    font-style: italic;
    /* font-family: Bitter, sans-serif; */
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

.quote {
    color: rgb(231, 111, 81);
    font-size: small;
}

.customer-testimonial-author {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.testimonial-author-name {
    color: rgba(220, 70, 33, 0.9);
    padding-right: 0.5rem;
    font-weight: 500;
}

.testimonial-author-role {
    font-size: small;
}

#subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(38, 70, 83); */
    background-color: #3b3b3b;
    width: 100%;
    padding: 1.5rem;
    gap: 2rem;
}

#subscription-greeting {
    color: rgba(233, 236, 239, 1);
    /* text-align: center; */
    /* font-family: Bitter, sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Lato', sans-serif;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#subscription-greeting h2 {
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
}

#subscription-greeting p {
    font-size: 1rem;
    padding-top: 0.5rem;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

#subscription-greeting img {
    width: 100px;
}

#subscription-form {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

#subscription-email {
    border-radius: 5px;
    margin-right: 0;
    border: 1px solid rgb(38, 70, 83);
    font-size: 1rem;
    padding-left: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

#subscription-button {
    border-radius: 5px;
    background-color: rgb(42, 157, 143);
    border: 1px solid rgb(42, 157, 143);
    color: rgba(233, 236, 239, 1);
    letter-spacing: 1px;
    font-size: 110%;
    padding: 1rem;
}

#subscription-button:hover {
    cursor: pointer;
}

#about,
#lifehacks,
#subscription-subscribe {
    background-color: blueviolet;
}

/* Subscribe page */
#subscription-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 3rem;
    /* background: url("../images/subscribe_cover.png") no-repeat center center/cover; */
}

#subscription-page-sub-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
}

#subscription-page-picture {
    /* background-color: pink; */
    height: 80dvh;
    width: 40%;
}

#subscription-page-picture img {
    width: auto;
    height: 100%;
}

/*
#subscription-page-3statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    gap: 2em;
    padding: 2rem 0;
}
*/

/* #subscription-page-3statistics:first-child {
    padding-top: 4rem;
}

#subscription-page-3statistics:last-child {
    padding-bottom: 4rem;
} */

/*
.subscription-page-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.subscription-page-statistics-picture {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px outset #A5C2CA;
    background-color: #ffffff;
    z-index: 98;
}

.subscription-page-statistics-picture img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.subscription-page-statistics-text {
    color: rgba(57, 57, 57, 0.8);
    letter-spacing: 1px;
}

.subscription-page-statistics-text>p {
    color: rgba(57, 57, 57, 0.6);
    padding-top: 0.3rem;
}

#subscription-page-facilities-picture-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

#subscription-page-facilities-picture-and-text p {
    text-align: center;
}

.subscription-page-facilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

#subscription-page-picture-and-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#subscription-page-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 5rem;
}

#subscription-page-statistics-text-p {
    display: none;
}

#subscription-page-form h3 {
    font-size: 120%;
}

#subscription-page-picture img {
    width: 300px;
}

#subscription-page-form-email {
    border: 5px outset #A5C2CA;
    border-radius: 20px;
    margin-right: 0;
    font-size: 1rem;
    padding-left: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}
*/

/* Footer */
footer {
    border-top: 1px solid rgba(57, 57, 57, 0.2);
    z-index: 100;
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: #3b3b3b;
    /* background-color: rgb(38,70,83); */
    padding: 1rem;
}

#social-media {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    /* color: rgba(57, 57, 57, 0.8); */
    color: rgb(255, 255, 255);
    padding: 0.5rem;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #logo {
        font-size: 3rem;
        /* 48px */
        line-height: 1;
    }

    #menu-list {
        border: none;
    }

    /* #slogan {
        padding: 150px 75px;
    } */

    #slogan>h1 {
        max-width: 13ch;
    }

    #subscription {
        padding: 2rem;
    }

    #subscription-greeting {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #subscription-greeting h2 {
        max-width: 100%;
    }

    #subscription-page {
        width: 100%;
        flex-direction: row;
        gap: 1rem;
    }

    #subscription-page-3statistics {
        flex-direction: column;
        padding-left: 2rem;
        gap: 0;
    }

    #subscription-page-statistics-text-p {
        display: inline;
    }

    .subscription-page-statistics {
        flex-direction: row;
        width: 300px;
    }

    .subscription-page-statistics-picture {
        width: 80px;
        height: 80px;
        border: 5px outset #A5C2CA;
    }

    .subscription-page-statistics-text {
        color: rgba(57, 57, 57, 0.8);
        letter-spacing: 1px;
        padding: 2rem 3.5rem;
        margin-left: -60px;
        border-left: 5px outset #A5C2CA;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    /* Header */
    #menu-list {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.8rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .resp-menu-label {
        display: none;
    }

    main {
        margin-top: 70px;
    }

    #subscription {
        padding: 5rem;
    }

    #subscribe-page {
        margin-top: 90px;
    }

    #subscription-page-picture-and-form {
        width: 70%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}