/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gothic+A1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@400..800&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #3b3b3b;
    /* font-family: "Wix Madefor Display", sans-serif; */
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    background-color: rgba(255, 255, 255, 1); 
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

#logo {
    font-family: Bitter, sans-serif;
    color: rgba(57, 57, 57, 0.8);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 4px;
}

#resp-menu-icon {
    color: rgba(57, 57, 57, 0.8);
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    /* letter-spacing: 2px; */
    list-style-type: none;
}

.active {
    border-bottom: 1px solid rgba(57, 57, 57, 0.8);
}

/* menu-list navbar styles with dropdown toggle */
#menu-list {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 1); 
    border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

/* menu-list nav toggle */
#resp-menu:checked~#menu-list {
    display: block;
}

#resp-menu {
    display: none;
}

.resp-menu-label {
    font-size: 2rem;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-top: 81px;
}

#handywoman-slogan {
    width: 100%;
    height: 100dvh;
    background: url("../images/4065129.jpg") no-repeat center center/cover;
    position: relative;
}

#slogan{
    display: flex;
    /* width: fit-content; */
    align-items: flex-start;
    flex-direction: column;
    padding: 150px 50px;
    font-family: Bitter, sans-serif;
    font-size: large;
    letter-spacing: 0.05em;
}

#slogan>h1 {
    max-width: 8ch; 
}

#slogan-span {
    font-style: italic;
}

#testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

#testimonials-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5733;
}

.colored-testimonials-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1.8rem;
    height: 2px;
    background-color: #ff5733;
}

.testimonials-slogan {
    margin-bottom: 2rem;
    background-color: #ff5733;
}

.testimonials-slogan>p {
    font-size: small;
}

.testimonials-customers {
    background-color: aquamarine;
}

#about, #lifehacks, #subscription-subscribe {
    background-color: blueviolet;
}

footer {
    border-top: 1px solid rgba(57, 57, 57, 0.2);
}

#social-media {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    padding: 0.5rem;
}

#social-media i {
    font-size: 150%;
    color: rgba(57, 57, 57, 0.8);
    padding: 0.5rem;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #menu-list {
        border: none;
    }

    #slogan {
        padding: 150px 75px;
    }

    #slogan>h1 {
        max-width: 13ch; 
        font-size: xx-large;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    #menu-list {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.8rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .resp-menu-label {
        display: none;
    }

    main {
        margin-top: 70px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid rgba(57, 57, 57, 0.8);
    }
}

@media screen and (min-width: 1200px) {    

}